body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(222, 104, 7);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(186, 15, 15);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #dbd713;
}

/* main container area beneath menu */
main {
    background: rgb(11, 216, 69);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(10, 125, 233) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
 /* portfolio styles */
 .content h1 {
    color: rgb(112, 13, 224);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #1b33ec;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eddc21;
}

#portfolio a {
    text-decoration: none;
    color: #21eae3;
}